<h1>Products Admin</h1>
<a class="btn btn-primary mb-3" (click)="addProduct()">Add New Product</a>
<div class="container row">
  <div class="col-md-6">
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Product Name</th>

          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of product">
          <td>{{product.productid}}</td>
          <td>{{product.product_name}}</td>

          <td>
            <button type="button" class="bg-secondary" (click)="viewProduct(product.productid)">Show
              Details</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-6">
    <app-viewproduct *ngIf="action === 'view'" [product]="selectedProduct" (productDeletedEvent)="refreshData()">
    </app-viewproduct>

    <app-addproduct *ngIf="action === 'edit' || action === 'add'" [AdminProduct]="selectedProduct"
      (productAddedEvent)="refreshData()">
    </app-addproduct>


  </div>
</div>