<ng-container *ngIf="products.length !=0">
    <div class="container">
        <div class="card-table">
            <div class="cart-product">
                <table class="table table-responsive">
                    <thead>
                        <tr>
                            <th>Cart Id</th>
                            <th>Product Id</th>
                            <th>Product Name</th>
                            <!-- <th>Product Description</th> -->
                            <th>Price- Per Item</th> 
                            <th>Quantity</th>
                            <th>Total</th>


                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of products; let i = index">
                            <td>{{i+1}}</td>
                            <td>{{item.productid}}</td>
                            <td>{{item.product_name}}</td>
                            <!-- <td>{{item.description}}</td> -->
                            <td style="width: 12%;">{{item.price}}</td>

                            <td>
                                <p>{{item.quantity}}</p>
                             <!--   <button (click)="inc(item)" class="btn btn-success">+</button>-->
                                <button type="button" class="btn-group" (click)="dec(i)">-</button>
                                <button type="button" class="btn-group" (click)="inc(i)">+</button>
                            </td>

                            <td>
                                <p>
                                    {{item.price * item.quantity}}
                                </p>
                            </td>



                            <td>
                                <button (click)="removeItem(item)" class="btn btn-danger">Delete</button>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3"></td>
                            <td><button (click)="emptycart()" class="btn btn-danger">Empty cart</button></td>
                            <td><button routerLink="/products" class="btn btn-primary">Shop More</button></td>
                            <td><button routerLink="/address" (click)="showMessage()" class="btn btn-success">Checkout</button></td>
                         <td><button routerLink="/orders" class="btn btn-success">Order History</button></td>   
                        <td><strong>Grand Total: {{grandTotal | currency:'INR'}}</strong></td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>

</ng-container>

<ng-container *ngIf="products.length ==0">
    <div class="container">
        <div class="card">
            <h5 class="card-title">My Cart</h5>
        </div>
        <div class="center">
            <h4>Your cart is empty!</h4>
            <h6>Add item to it now</h6>
            <button routerLink="/products" class="btn btn-primary">Shop Now</button>
            
        </div>
    </div>
</ng-container>
