<div class="container">
  <!-- <div class="row" *ngFor="let product of productDetail"> -->
      <div class="col-3" style="padding:10px" >
      <div class="card">
       <img class="card-img-top" src="{{productDetail.product_image}}" alt="Card image cap" >
      <div class="card-body">
      <!-- <a href="#" class="btn btn-primary" style="margin:5px">Add to Cart</a> -->
      <!-- <a href="#" class="btn btn-primary">Buy Now</a> -->
      </div>
      </div>
    </div>
    <div class="col-9" style="padding:10px">
          <div class="card" >
          <div class="card-body">
          <h1 class="card-title">{{productDetail.product_name | uppercase}}</h1>
          <h2 class="card-text">Price:{{productDetail.price | currency:"INR"}}</h2>
          <!-- <p class="card-text"><strong>Discount:</strong>{{product.discount | titlecase}}</p> -->
          <p class="card-text"><strong>description:</strong>{{productDetail.description}}</p>
          <!-- <p class="card-text"><strong>ratings:</strong>{{product.ratings}}</p>
          <p class="card-text"><strong>reviews:</strong>{{product.reviews}}</p> -->

          </div>
          <button class="btn btn-primary" style = "margin: 5px;"(click)=addtocart(productDetail)>Add to cart</button>
          <a href="#" class="btn btn-primary">Buy Now</a>        
        </div>
          
              </div>
          
          <!-- </div> -->

          </div>


          <!-- <div  class="row" *ngFor="let review of reviewDetails">  -->

            <button class="btn btn-primary" [routerLink]="['/review']">get review</button>

            <!-- <h5 class="card-title text-muted">{{reviewDetails.user.firstName}}&nbsp;{{ reviewDetails.user.lastName}}</h5> -->
          
            <p class="card-text">Rating:{{reviewDetails.rating }}</p>
          
            <p class="card-text">Review:{{reviewDetails.reviewtext }}</p>
          
            <hr/>

           <!-- </div>  -->


        
      
     