<h1>{{productForm.value == null ? 'Add' : 'Edit'}} AdminProduct {{AdminProduct.productid}}</h1>



<form #productForm="ngForm" (ngSubmit)="saveProduct(productForm)">




  <label for="productid">Product ID</label>

  <input type="number" class="form-control" id="productid" placeholder="Product ID"

    [(ngModel)]="AdminProduct.productid" name="productid" required>




  <label for="category_id">Category ID</label>

  <input type="number" class="form-control" id="categoryid" placeholder="Category ID" name="categoryid"

    [(ngModel)]="AdminProduct.categoryid" required>




  <label for="product_name">Product Name </label>

  <input type="text" class="form-control" id="product_name" placeholder="Product Name" name="product_name"

    [(ngModel)]="AdminProduct.product_name" required>

    <label for="price">Price</label>

    <input type="number" class="form-control" id="price" placeholder="Price" required name="price"
  
      [(ngModel)]="AdminProduct.price" name="price">
  
  
  
    <label for="discount">Discount</label>
  
    <input type="number" class="form-control" id="discount" placeholder="Discount" name="discount"
  
      [(ngModel)]="AdminProduct.discount" required>
  
  
  
    <label for="product_image">Product Image </label>
  
    <input type="text" class="form-control" id="product_image" placeholder="Product Image" name="product_image"
  
      [(ngModel)]="AdminProduct.product_image" required>
  
  
      <label for="description"> Description</label>

      <input type="text" class="form-control" id="description" placeholder="Description" name="description"
    
        [(ngModel)]="AdminProduct.description" required>
    
      <br>
    
      <br>
    
      <button type="submit" [disabled]="productForm.invalid" class="btn btn-success">Save Product</button>
    
    </form>