<nav class="navbar navbar-expand-lg navbar-sucess bg-dark">
    <a class="navbar-brand" href="#">ELECTRONICS</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="navbar-nav mr-auto">
        <li class="nav-item active"> <a class="nav-link" routerLink="">Home </a> </li>
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/products']">PRODUCT<span class="sr-only"></span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/about']"href="About">About</a>
        </li>
          
        <li  class="nav-item active"  >
          <a  class="nav-link" [routerLink]="['/menu']">Admin<span class="sr-only" ></span></a>
        </li>
          <button  routerLink="cart" style="font-size:20px" > Cart <i class="fa fa-cart-plus"></i>
            

          <div style="font-size: 15px;" class="badge bg-danger">{{totalItem}}</div>

      </button>
    
    </ul>
  </div>
</nav>




<router-outlet></router-outlet>

<br>
<br>
<br>
<footer class="page-footer font-small blue">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="#"> Electronic</a>
  </div>
  

</footer>
<!-- Footer -->
